* {
    padding: 0;
    margin: 0;
    transition: all .3s;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

ul,
li {
    font-style: none;
    list-style: none;
}

.title {
    color: #000000;
    font-size: 48px;
    text-align: center;
}